body
{
    background-color: #fcfbe3;
}

/*Center the game on the screen*/
#game
{
    width: 100%;
}

.toe
{
    margin: auto;
}

/*Put a margin around the minigames*/
.miniGame
{
    margin: 10px;
}

/*bigger cells*/
.tac 
{
    border: 5px solid rgb(50, 50, 50);
}

/*Smaller cells*/
.tic
{
    border: 2px dashed lightgrey;
    min-width: 60px;
    height: 60px;
}

    /*Change the color of the smaller cells when mouse is over them.*/
    .tic:hover 
    {
        background-color: #ffebcd;
    }

/*This makes it so there are not duplicate borders.*/
table 
{
    border-collapse: collapse;
}

/*Erase the borders that are not needed.*/
td:first-of-type 
{
    border-left: none;
    border-top: none;
}

td:nth-of-type(2) 
{
    border-top: none;
}

td:nth-of-type(3) 
{
    border-right: none;
    border-top: none;
}

/*The arrow is for a direct child relationship. I couldn't get it to work except by doing this.*/
tr:nth-of-type(3) > td
{
    border-bottom: none;
}